<h1>Hey, I’m <%= @user.first_name %> <%= @user.last_name %></h1>
<%= @user.address %> Member since · <%= @user.updated_at %>

<h3>Favorite Lists</h3>

<%= link_to "Edit Profile" %>

<%= link_to "Create New Listing", new_mother_listing_path %>
