<div class="banner mdl-typography--text-center">
  <div class="vertical-align-middle padding-bottom-3" style="height: 100%">
    <h1>Rent A Mum</h1>
    <h2>For times when you're tired of your mum.</h2>

    <%= render 'forms/homesearch' %>

    <!-- <a href="#screens">
      <button class="continue-fab mdl-button mdl-button--colored mdl-js-button mdl-button--fab mdl-js-ripple-effect" data-upgraded="MaterialButton,MaterialRipple">
        <i class="material-icons">expand_more</i>
        <span class="mdl-button__ripple-container">
          <span class="mdl-ripple is-animating" style="width: 160.392px; height: 160.392px; transform: translate(-50%, -50%) translate(24px, 24px);"></span>
        </span>
      </button>
    </a> -->
  </div>
</div>

<div class="page-content">

  <a name="screens"></a>
  <div class="content mdl-grid">

    <% MotherListing.all.each do |ml| %>
      <div class="mdl-cell mdl-cell--6-col-tablet mdl-cell--12-col-phone mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
          <%= image_tag "mom1.jpg", :style => "max-height: 80px" %>
          <h2 class="mdl-card__title-text"><%= "#{ml.first_name} #{ml.last_name}" %></h2>
        </div>
        <div class="mdl-card__supporting-text">
          <%= ml.description %>
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
            <%= link_to "Check this one out!", mother_listings_path + "/#{ml.id}" %>
          </a>
        </div>
        <div class="mdl-card__menu">
          <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
            <i class="material-icons">X</i>
          </button>
        </div>
      </div>
    <% end %>

  </div>

</div>
