<div class="banner mdl-typography--text-center">
  <div class="vertical-align-middle padding-bottom-3" style="height: 100%">
    <h1>Rent A Mum</h1>
    <h2>For times when you're tired of your mum.</h2>

    <%= render 'forms/homesearch' %>

    <a href="#screens">
      <button class="continue-fab mdl-button mdl-button--colored mdl-js-button mdl-button--fab mdl-js-ripple-effect" data-upgraded="MaterialButton,MaterialRipple">
        <i class="material-icons">expand_more</i>
        <span class="mdl-button__ripple-container">
          <span class="mdl-ripple is-animating" style="width: 160.392px; height: 160.392px; transform: translate(-50%, -50%) translate(24px, 24px);"></span>
        </span>
      </button>
    </a>
  </div>
</div>

<div class="page-content">

  <a name="screens"></a>
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--6-col" style="background: lightgrey; min-height: 100px;">Premium Mum
  <%= link_to mother_listing_path(MotherListing.first) do %>
  <%= image_tag "mom1.jpg",height: 100 %></span>
  <% end %>
    </div>
   <div class="mdl-cell mdl-cell--6-col" style="background: lightgrey; min-height: 100px;">Premium Mum
  <%= link_to mother_listings_path do %>
  <%= image_tag "mon2.jpg",height: 100 %></span>
  <% end %>
    </div>
    <div class="mdl-cell mdl-cell--6-col" style="background: lightgrey; min-height: 100px;">Premium Mum
  <%= link_to mother_listings_path do %>
  <%= image_tag "mom3.jpg",height: 100 %></span>
  <% end %>
    </div>
    <div class="mdl-cell mdl-cell--6-col" style="background: lightgrey; min-height: 100px;">Premium Mum
  <%= link_to mother_listings_path do %>
  <%= image_tag "mom4.jpg",height: 100 %></span>
  <% end %>
    </div>
    <div class="mdl-cell mdl-cell--6-col" style="background: lightgrey; min-height: 100px;">Premium Mum
  <%= link_to mother_listings_path do %>
  <%= image_tag "mom5.jpg",height: 100 %></span>
  <% end %>
    </div>
  </div>
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col" style="background: lightgrey; min-height: 100px;">Non-Premium Mum
    <%= link_to mother_listings_path do %>
    <%= image_tag "mom6.jpg",height: 100 %></span>
    <% end %>
    </div>
    <div class="mdl-cell mdl-cell--4-col" style="background: lightgrey; min-height: 100px;">Non-Premium Mum
    <%= link_to mother_listings_path do %>
    <%= image_tag "mom7.jpg",height: 100 %></span>
    <% end %>
    </div>
    <div class="mdl-cell mdl-cell--4-col" style="background: lightgrey; min-height: 100px;">Non-Premium Mum
    <%= link_to mother_listings_path do %>
    <%= image_tag "mom8.jpg",height: 100 %></span>
    <% end %>
    </div>
    <div class="mdl-cell mdl-cell--4-col" style="background: lightgrey; min-height: 100px;">Non-Premium Mum
    <%= link_to mother_listings_path do %>
    <%= image_tag "mom9.jpg",height: 100 %></span>
    <% end %>
    </div>
    <div class="mdl-cell mdl-cell--4-col" style="background: lightgrey; min-height: 100px;">Non-Premium Mum
    <%= link_to mother_listings_path do %>
    <%= image_tag "mom10.jpg",height: 100 %></span>
    <% end %>
    </div>

  </div>

</div>
