<div class="page-content" style="margin-top: 50px; margin-bottom: 50px;">
  <div class="mdl-grid">

    <div class="mdl-cell mdl-cell--4-col"></div>
    <div class="mdl-cell mdl-cell--4-col">

        <%= form_for [@mother_listing, @booking], url: mother_listing_bookings_path(@mother_listing) do |f| %>
        <div class="demo-card-wide mdl-card mdl-shadow--2dp EditNewCard">
          <h1>About this Mum</h1>

          <%= image_tag "mom1.jpg", width: 200, height: 200, :class => "circle-img" %>

          <h1><%= "#{@mother_listing.first_name} #{@mother_listing.last_name}" %></h1>

          <p><%= @mother_listing.description %></p>
          <div class="mdl-card__actions mdl-card--border">
          <% if user_signed_in? %>
            <%= link_to 'Edit', edit_mother_listing_path(@mother_listing), :class => "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" %>
            <%= link_to 'Book', new_mother_listing_booking_path(@mother_listing), :class => "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" %>
          <% else %>
            <%= link_to 'Book', new_mother_listing_booking_path(@mother_listing), :class => "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" %>
          <% end %>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>
