<div class="mdl-grid">
  <div class="mdl-layout-spacer">
    <div class="demo-card-wide mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <%= image_tag "mom1.jpg" %>
      </div>
      <div class="mdl-card__supporting-text">
        <h2 class="mdl-card__title-text">About this mom:</h2>
        <%= @mother_listing.description %>

           <%= form_for [@mother_listing, @booking], url: mother_listing_bookings_path(@mother_listing) do |f| %>
             <%= f.datetime_local_field :time_start %>
             <%= f.datetime_local_field :time_end %>
             <%= f.submit %>
           <% end %>


        <h2>Her Skills:</h2>
      </div>
    <!-- <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
        Get Started
      </a> -->
    </div>
    <div class="mdl-card__menu">
      <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
        <i class="material-icons">share</i>
      </button>
    </div>



  </div>
</div>
