<header class="mdl-layout__header nav-down">
  <div class="mdl-layout__header-row">
  <%= link_to root_path do %>
    <span class="mdl-layout-title">
    <%= image_tag "rta_logo.png",height: 60 %></span>
  <% end %>
    <div class="mdl-layout-spacer"></div>
    <nav class="mdl-navigation">

    <% if user_signed_in? %>

      <!-- Notification -->
      <%= link_to "#", class: "navbar-wagon-item navbar-wagon-link" do %>
        <div class="badge-container">
          <i class="fa fa-envelope-o"></i>
          <div class="badge badge-blue">3</div>
        </div>
      <% end %>

      <!-- Profile picture and dropdown -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <%= image_tag "http://placehold.it/30x30", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-home"></i>  <%= t(".profile", default: "Home") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>

    <% else %>

      <%= link_to t(".sign_up", default: "Sign Up"), new_user_registration_path, class: "mdl-navigation__link" %>
      <%= link_to t(".sign_in", default: "Sign In"), new_user_session_path, class: "mdl-navigation__link" %>

    <% end %>

    </nav>
  </div>
</header>
<div class="mdl-layout__drawer mdl-layout--small-screen-only">
  <span class="mdl-layout-title">Menu</span>
  <nav class="mdl-navigation">
    <a class="mdl-navigation__link" href="#">Links</a>
    <a class="mdl-navigation__link" href="#">Links</a>
  </nav>
</div>
