<header class="mdl-layout__header nav-down">
  <div class="mdl-layout__header-row">
  <%= link_to root_path do %>
    <span class="mdl-layout-title">
    <%= image_tag "rta_logo.png",height: 60 %></span>
  <% end %>
    <div class="mdl-layout-spacer"></div>
    <nav class="mdl-navigation">

    <% if user_signed_in? %>

      <%= link_to "Profile", edit_user_registration_path, :class => "mdl-navigation__link" %>
      <%= link_to "Log Out", destroy_user_session_path, method: :delete, :class => "mdl-navigation__link" %>

    <% else %>

      <%= link_to t(".sign_up", default: "Sign Up"), new_user_registration_path, :class => "mdl-navigation__link" %>
      <%= link_to t(".sign_in", default: "Sign In"), new_user_session_path, :class => "mdl-navigation__link" %>

    <% end %>

    </nav>
  </div>
</header>
<div class="mdl-layout__drawer mdl-layout--small-screen-only">
  <span class="mdl-layout-title">Menu</span>
  <nav class="mdl-navigation">
    <a class="mdl-navigation__link" href="#">Links</a>
    <a class="mdl-navigation__link" href="#">Links</a>
  </nav>
</div>
