<!DOCTYPE html>
  <html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Rentamum</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
  </head>
  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <div class="mdl-layout__header mdl-layout__header--waterfall">

        <%= render 'layouts/nav' %>

      </div>

      <%= yield %>

      <% if current_page?(root_path) %>
        <%= render 'layouts/footer' %>
      <% end %>

    </div>

    <%= cloudinary_js_config %>

    <%= javascript_include_tag 'application' %>

  </body>
</html>
